@forward "partials/base";
@use "partials/variables" as agency;
// Common styles
span {
  color: #2370c8;
}
/* Header section style */
.brand-logo {
  width: 120px;
  height: 45px;
}
// flex items
%flex_element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-flex {
  @extend %flex_element;
}
.container img {
  width: 100%;
}
.mr {
  margin-right: 200px;
}
.nav-link {
  color: agency.$primary_text_color;
  font-size: 20px;
}
input[type="search"] {
  border-radius: 30px;
}
/* Hero section style*/
.hero-section {
  margin-bottom: 188px;
}
.card-img-overlay {
  padding-left: 125px;
  margin-top: 250px;
}
/* Service section style*/
.services-section {
  margin-bottom: 188px;
}
.card-img img {
  width: 80px;
}
.card img {
  width: 80px;
}
/* About section style */
.about img {
  width: 100%;
}

/* Pages section style */
.page-section {
  background-color: #f2f9ff;
}
.card {
  background-color: #e5f3fe;
}
/* Work section style */
.work img {
  width: agency.$priamry_width;
}
/* Team section style */
.team-section {
  background-color: #f2f9ff;
}
.team img {
  width: agency.$priamry_width;
}
/* Pricing section style */
.standard-price {
  background-color: #2370c8;
}
.fa-toggle-on {
  color: #2370c8;
}
/* Client section style */
.clients {
  background-color: #3782d7;
}
.clients img {
  width: 86px;
  height: 86px;
}
.clients .card {
  background-color: #3782d7;
}
/* Blog section */
#button-addon2 {
  background-color: #2370c8;
}
.fa-arrow-right {
  color: white;
}
.blog-card {
  background-color: #3782d7;
}
/* Footer section */
.footer-container {
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-list > li {
  list-style: none;
}
footer {
  background-color: #f2f9ff;
}
.footer-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  padding: 100px 30px;
}
.footer-section li {
  list-style: none;
  margin-right: 20px;
}
section ul li {
  margin-left: -30px;
}
.link-section {
  margin-left: 30px;
}
/* Media query */
@media only screen and (max-width: 480px) {
  .footer-section {
    grid-template-columns: 1fr;
  }
  section ul li {
    margin-left: -30px;
  }
  .link-section {
    margin-left: 0px;
  }
}
